<div>

  <ng-template [ngIf] ="emailVerificado == false">
    <div class="main-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header card-header-info">
                          <h4 class="card-title">Validar e-mail</h4>
                      </div>
                      <div class="card-body">
    
                          <div class="card mb-3">
                              <div class="row no-gutters">
                                <div class="col-md-4">
                                   <img src="../../../assets/img/mail.png" class="card-img" alt="about.id">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                      <p>Tu correo electrónico aun no ha sido verificado
                                      revisa tu bandeja de entrada o el correo no deseado o vuelve a enviar el mail</p>
                                      <hr>
                                      <p class="card-text"><a href="#" class="btn btn-danger" data-toggle="modal" data-target="#dataModal" (click)="enviarEmail()"><i class="fas fa-edit"></i>enviar mail</a></p>
                                  
                                  </div>
                                </div>
                              </div>
                          </div>
                    
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</ng-template>

<ng-template [ngIf] ="emailVerificado == true">

<ng-template [ngIf]="estadoRestauranteActual(estadoRestaurante) == true">
  <div *ngIf="validacionRestauranteExiste(valorRestaurante) == false; else validacionRestaurante">
    <div class="main-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header card-header-info">
                          <h4 class="card-title">Agregar Restaurante</h4>
                      </div>
                      <div class="card-body">
    
                          <div class="card mb-3">
                              <div class="row no-gutters">
                                <div class="col-md-4">
                                   <img src="../../../assets/img/restaurante.png" class="card-img" alt="about.id">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                      <h3>Debes agregar información de tu restaurante primero</h3>
                                      <hr>
                                  </div>
                                </div>
                              </div>
                          </div>
                    
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>

<!-- Una vez agregado un restaurante valida si tiene ya subio el documento de verificacion -->
<ng-template #validacionRestaurante>
  <div *ngIf="validacionDocRestauranteExiste(validacionR) == false; else verificacionRes">
    <div class="main-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header card-header-info">
                          <h4 class="card-title">Restaurante</h4>
                      </div>
                      <div class="card-body">
    
                          <div class="card mb-3">
                              <div class="row no-gutters">
                                <div class="col-md-4">
                                   <img src="../../../assets/img/mail.png" class="card-img" alt="about.id">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h3>Un paso mas antes de Visualizar tus Promociones :) </h3>
                                    <app-validacion></app-validacion>
                                  </div>
                                </div>
                              </div>
                          </div>
                    
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div> 


  <ng-template #verificacionRes>
      <div *ngFor="let perfil of perfil$ | async ">
          <div *ngIf="usuarioLog == perfil.userUID">
              <ng-template [ngIf]="perfil.resVerificado.toString() === 'En revision'">
                <div class="main-content">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="card">
                                  <div class="card-header card-header-info">
                                      <h4 class="card-title">Validar e-mail</h4>
                                  </div>
                                  <div class="card-body">
                
                                      <div class="card mb-3">
                                          <div class="row no-gutters">
                                            <div class="col-md-4">
                                               <img src="../../../assets/img/mail.png" class="card-img" alt="about.id">
                                            </div>
                                            <div class="col-md-8">
                                              <div class="card-body">
                                                  <p>Tu restaurante esta siendo verificado por el Administrador</p>
                                                  <hr>
                                                    <mat-card-title>Estado:{{perfil.resVerificado}}</mat-card-title>
                                              
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                              
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              </ng-template>
              <ng-template [ngIf]="perfil.resVerificado.toString() === 'Aprobado'">
                  <div>
                    <div class="main-content">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="card">
                              <div class="card-header card-header-info">
                                <h4 class="card-title ">Promociones</h4>
                              </div>
                              <mat-tab-group mat-align-tabs="center">
                                <mat-tab label="Promociones Habilitadas">
                                  <div class="row" style="text-align: center;">
                                    <div class="col-md-4">                                   
                                    </div>
                                    <div class="col-md-4">   
                                      <div class="card-body">
                           
                                        <div class="row" *ngIf="promociones$ | async as promocion">
                                          <div *ngFor="let promo of promocion; let i = index">
                                            <div *ngIf="usuarioLog === promo.userUID && promo.userUID && promo.estado == 'verdadero'">
                                              <a>
                                                <div class="card" class="img-contenedor">
                                                  <img class="card-img-top text-center" [src]="promo.fotosPromocion" alt="Card image cap">
                                                  <div class="card-body cardTitle">
                                                    <div style="text-align: center;">
                                                      <button mat-button color="warm" *ngIf="promo.estado === 'verdadero'" (click)="deshabilitarPromo(promo)"><mat-icon arial-label="Eliminar">highlight_off</mat-icon>Deshabilitar</button>
                                                      <button mat-button color="warm" *ngIf="promo.estado === 'verdadero'" (click)="eliminarPromo(promo)"><mat-icon arial-label="Eliminar">delete</mat-icon>Eliminar</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </a>
                                            </div>
                                            <hr>
                                          </div>
              
                                        </div>
                                        <div style="text-align: center;">
                                        <app-promociones></app-promociones>
      
                                        </div>
                            
                                      </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                  </div>
                                </mat-tab>
                                <mat-tab label="Promoción Deshabilitada">
                                  <div class="row" style="text-align: center;">
                                    <div class="col-md-4">                                   
                                    </div>
                                    <div class="col-md-4">   
                                      <div class="card-body">
                           
                                        <div class="row" *ngIf="promociones$ | async as promocion">
                                          <div *ngFor="let promo of promocion; let i = index">
                                            <div *ngIf="usuarioLog === promo.userUID && promo.userUID && promo.estado =='falso'">
                                              <a>
                                                <div class="card" class="img-contenedor">
                                                  <img class="card-img-top text-center" [src]="promo.fotosPromocion" alt="Card image cap">
                                                  <div class="card-body cardTitle">
                                                    <div style="text-align: center;">
                                                      <button mat-button color="info" *ngIf="promo.estado === 'falso'" (click)="habilitarPromo(promo)"><mat-icon arial-label="habilitar">check_circle</mat-icon>Habilitar</button>
                                                      <button mat-button color="warm" *ngIf="promo.estado === 'falso'" (click)="eliminarPromo(promo)"><mat-icon arial-label="Eliminar">delete</mat-icon>Eliminar</button>

                                                    </div>
                                                  </div>
                                                </div>
                                              </a>
                                            </div>
                                            <hr>
                                          </div>
                            
                                        </div>                        
                                      </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                  </div>
                                </mat-tab>
                              </mat-tab-group>

                            </div>
                          </div>
       
                            

                        </div>
                      </div>
                      
                    </div>
                    
      </div>
        </ng-template>
              <ng-template [ngIf]="perfil.resVerificado.toString() === 'Rechazado'">
                <div class="main-content">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="card">
                                  <div class="card-header card-header-info">
                                      <h4 class="card-title">Restaurante rechazado</h4>
                                  </div>
                                  <div class="card-body">
                
                                      <div class="card mb-3">
                                          <div class="row no-gutters">
                                            <div class="col-md-4">
                                               <img src="../../../assets/img/mail.png" class="card-img" alt="about.id">
                                            </div>
                                            <div class="col-md-8">
                                              <div class="card-body">
                                                <div>
                                                  <h1>Tu restaurante no ha sido Aprobado :( </h1>
                                                  <br>
                                                  
                                                </div> 
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              </ng-template>  
          </div>
      </div>
  </ng-template>
</ng-template>


</ng-template>

<ng-template [ngIf]="estadoRestauranteActual(estadoRestaurante) == false">
  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Restaurante Deshabilitado</h4>
                    </div>
                    <div class="card-body">
  
                        <div class="card mb-3">
                            <div class="row no-gutters">
                              <div class="col-md-4">
                                 <img src="../../../assets/img/mail.png" class="card-img" alt="about.id">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <p>Tu restaurante esta deshabilitado</p>
                                </div>
                              </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-template>



    
</ng-template>




  
</div>




  