<div class="restaurante-container">
    <form [formGroup]="editDesayunoForm" (ngSubmit)="editUser(editDesayunoForm.value)" class="container">
        <!-- De esta manera uso el input -->
        <!-- {{perfil | json}} -->
        <h3>Usuario</h3>

        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Nombre" formControlName="nombre" ></textarea>
            <div *ngIf="editDesayunoForm.get('nombre').errors && editDesayunoForm.get('nombre').dirty" >
                <p class="e" *ngIf="editDesayunoForm.get('nombre').hasError('required')">El campo no puede estar vacio</p>
            </div>
        </mat-form-field>

        <!-- <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Correo electrónico" formControlName="email" ></textarea>
            <div *ngIf="editDesayunoForm.get('email').errors && editDesayunoForm.get('email').dirty" >
                <p class="e" *ngIf="editDesayunoForm.get('email').hasError('required')">El campo no puede estar vacio</p>
            </div>
        </mat-form-field> -->

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Número celular" formControlName="numero"  required maxlength="10">
            <div *ngIf="editDesayunoForm.get('numero').errors" >
                <p class="e" *ngIf="editDesayunoForm.get('numero').hasError('minlength')">Minimo 10 caracteres</p>
                <p class="e" *ngIf="editDesayunoForm.get('numero').hasError('pattern')">El campo debe contener números</p>
            </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Descripcion" formControlName="descripcion" ></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Facebook* (user) " formControlName="socialF" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Instagram* (user)" formControlName="socialG" >
        </mat-form-field>
       
        <mat-divider></mat-divider>

        <button mat-raised-button color="primary" type="submit" [disabled]="editDesayunoForm.invalid" [mat-dialog-close]="true">
            <mat-icon>done</mat-icon>
            <span>Aceptar</span>
        </button>
    
        <button mat-raised-button color="accent" type="button" [mat-dialog-close]="true"  (click)="cancelar($event)">
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
        </button>
     
    </form>
</div>