<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Mapa</h4>
                        <button class="mat-raised-button" (click)="registrar()">aa</button>
                        <button class="mat-raised-button" (click)="prueba()">x</button>

                    </div>
                    <div class="card-body">
                        <div class="card mb-3">
                            <div class="row no-gutters">

                              
                              <div class="col-md-12">
                                
                                <div id="mapa"></div>
                              </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div id="map">
    <h1 style="position: relative;">sss</h1>
</div> -->


  
