<div style="padding-bottom: 63px;" >
    <p>Deseas agregar tus promociones ahora?!</p>
    <p>Ej: Las promociones son imagenes con tus platos con un % de descuento <br>
        o platos 2X1 de tu restaurante</p>
    <form [formGroup]="newPromoForm" (ngSubmit)="addPromocion(newPromoForm.value)" class="container">
        
        
        <button mat-raised-button onclick="document.getElementById('input_subida').click()" type="button"><mat-icon>cloud_upload</mat-icon> <span>Promociones</span></button>
        <input id="input_subida" type="file"  accept=".png, .jpg, .jpeg" style="display: none" (change)="seleccionar_promo($event)">
        
        <p>{{labelFile}}</p>

        <!-- <input type="file" id="imagen1" onchange="revisarImagen(this,1);"> -->
        

        <!-- <div>
            <input type="file" (change)="selectFiles($event)" multiple="multiple" />
        </div>
        {{filesName}} -->
        <div *ngIf="isSubmitted">
            <button mat-raised-button color="primary" type="submit">
                <mat-icon>done</mat-icon>
                <span>Aceptar</span>
            </button>
        
            <button mat-raised-button color="accent" type="button">
                <mat-icon>close</mat-icon>
                <span>Cancelar</span>
            </button>
        </div>
        
    </form>  
</div>


