<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">Perfil</h4>
                  </div>

                  <div class="card-body">
                      <div class="card mb-3">
                        <div *ngIf="user$ | async as usuarios">
                          <div *ngFor="let u of usuarios" >
                            <div  *ngIf="usuarioLogueado === u.uid">
                          <div class="row no-gutters">

                            <div  class="col-md-1"></div>
                            <div class="col-md-4">

                            <mat-form-field class="example-full-width">
                                <label for="Nombre">Nombre</label>
                                <input [disabled]="true" matInput type="text" [(ngModel)]="u.nombre">
                                <!-- <h4>{{u.nombre}}</h4> -->
                            </mat-form-field>
                      
                            <mat-form-field class="example-full-width">
                              <label for="Nombre">Correo</label>
                              <input [disabled]="true" matInput type="text" [(ngModel)]="u.email">
                              <!-- <h4>{{u.nombre}}</h4> -->
                          </mat-form-field>
                        
                        <mat-form-field class="example-full-width">
                            <label for="Nombre">Número</label>
                            <input [disabled]="true" matInput type="text" [(ngModel)]="u.numero">
                            <!-- <h4>{{u.nombre}}</h4> -->
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <label for="Nombre">Descripción</label>
                          <input [disabled]="true" matInput type="text" [(ngModel)]="u.numero">
                          <!-- <h4>{{u.nombre}}</h4> -->
                      </mat-form-field>
                            <app-editar-perfil-user></app-editar-perfil-user>
                            </div>
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-6">
                              <div class="card-body">
                                      <div class="col-md-6">
                                        <div class="card card-profile">
                                          <div class="card-avatar">
                                            <a>
                                              <img class="img" [src]="'https://i.pinimg.com/originals/5f/87/61/5f8761590f4c651c8383dd58fce5dbf0.png'" />
                                            </a>
                                          </div>
                                          <div class="card-body">
                                            <h6 class="card-category text-gray">Dueño de Restaurante</h6>
                                            <h4 class="card-title">{{u.nombre}}</h4>
                                            <p class="card-description">
                                              {{u.email}}
                                            </p><hr>
                                            <p class="card-description" *ngIf="u.numero">
                                              {{u.numero}}
                                            </p>
                                            <!--<a href="#pablo" class="btn btn-primary btn-round">Follow</a>-->
                                          </div>
                                        </div>
                                      </div>

                              </div>
                            </div>
                          </div>

                            </div>
                          </div>
                        </div>
                      </div>
                
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="restaurante-container">


   

</div>